.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000000;
  margin-top: 40px;
}
.header__logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 170%;
}

.nav {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}
.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
}
.nav__items__item_button {
  color: #fff;
  padding: 14px 32px;
  background: #2C3878;
}

.hero {
  padding: 100px 0;
  position: relative;
}
.hero__title {
  max-width: 760px;
  color: #333333;
  font-size: 72px;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 50px;
}
.hero__title::after {
  position: absolute;
  content: "";
  top: 150px;
  right: 0;
  width: 400px;
  height: 2px;
  background: #000000;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}