@import "../variables";

.details {
  padding-bottom: 135px;
  &__block {
    display: flex;
  }
}

.block {
  margin-bottom: 20px;
  .block__border {
    position: relative;
    color: $GrayscaleBlack;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 20px;
    &::after {
      position: absolute;
      content: '';
      top: 10px;
      right: 565px;
      width: 520px;
      height: 2px;
      background: #000000;
    }
  }

  .block__title {
    max-width: 570px;
    color: $Grayscale50;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 50.4px */
  }
}
.details__items {
  margin-right: 200px ;
  margin-bottom: 60px;
}
.details__img {
  width: 138px;
  height: 138px;
  align-self: start;
  cursor: pointer;
}
.button__details {
  color: #fff;
  padding: 14px 32px;
  background: $PrimaryBlue100;
}

.details__item {
  color: $Grayscale10;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  list-style-type: disc;
  line-height: 160%; /* 28.8px */
}

