@import "../variables";

.footer {
  width: 1440px;
  background: $PrimaryBlue100;
  .footer-block__contacts {
    display: flex;
    justify-content: space-around;
  }

  .footer-block {
    padding-top: 77px;
    padding-bottom: 46px;
    color: #ffffff;

    .footer__text-inp {
      display: flex;
      justify-content: space-around;
      padding-bottom: 110px;

      .footer__inp {
        flex-direction: column;
        width: 335px;
        padding: 12px;
        background: $PrimaryBlue100;
        color: #ffffff;
        border: none;
        border: solid 1px #ffffff;
        &_name {
          margin-bottom: 20px;
        }
        &_tel {
          padding-bottom: 20px;
        }
      }
      input::-webkit-input-placeholder {
        color: #ffffff;
      }

      .footer__button {
        background-color: #ffffff;
        color: $GrayscaleBlack;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 21px */
        padding: 14px 32px;
        width: 244px;
      }

      .footer__text {
        max-width: 547px;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 38.4px */
      }
    }
  }
  .footer__logo {
    color: $GrayscaleWhite;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%; /* 54.4px */
    }
  .footer__tel {
    color: $GrayscaleWhite;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
  }
}