@import "../variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $GrayscaleBlack;
  margin-top: 40px;
  &__logo {
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
    font-size: 32px;
  }
}

.nav {
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  &__items {
    display: flex;
    gap: 33px;
   align-items: center;
    &__item {
      &_button {
        color: #fff;
        padding: 14px 32px;
        background: $PrimaryBlue100;
      }
    }
  }
}
