@import "../variables";

.location {
  margin-bottom: 100px;
  &__border {
    position: relative;
    color: $GrayscaleBlack;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 25px;
    &::after {
      position: absolute;
      content: '';
      top: 11px;
      right: 640px;
      width: 400px;
      height: 2px;
      background: #000000;
    }
  }
  .desc__text {
    color: $Grayscale10;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    &_inf-left {
      max-width: 615px;
    }
  }
}