@import "../variables";

.location {
  margin-bottom: 100px;

  &__border {
    position: relative;
    color: $GrayscaleBlack;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 25px;

    &::after {
      position: absolute;
      content: '';
      top: 11px;
      right: 640px;
      width: 400px;
      height: 2px;
      background: #000000;
    }
  }
    &__map {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

